
/*-----------------Generales--------------*/
ul {
    list-style-type: none;
}
article ul {
    list-style-type: circle;
}

/*-----------------Aside-----------------*/
aside {
    background-color: #364A6D;
}
aside *{
    color: white;
}
aside h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom: 2px solid white;
}
#Imagen-destacada img {
    border-radius: 50%;
    border-bottom-left-radius: 15px;
}

/*-----------------Main-----------------*/
main {
    background-color: #E5E8E8;
}
main section h2{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.hero {
    background-color: #7FB3D5;
    box-shadow: 5px 5px 5px 5px #AAB7B8 insert;
}
.hero h2 {
    color: white;
    border-top: 2px solid white;
    text-transform: none;
    letter-spacing: normal;
}
.about-me {
    background-color: #AAB7B8;
}
.about-me h2 {
    background-color: #E5E8E8;
}
article h3, article h4 {
    font-weight: bolt;
}
