
/*-----------------Extructura--------------*/
.div-contenedores {
    display: flex;
    width: 1300px;
}

/*-----------------Generales--------------*/
ul {
    list-style-type: none;
}
article ul {
    list-style-type: circle;
}
h1, h2 {
    text-transform: uppercase;
}

/*-----------------Aside-----------------*/
aside {
    background-color: #364A6D;
    width: 350px;
    margin-right: 1%;
}
aside *{
    color: white;
}
aside h2{
    letter-spacing: 3px;
    border-bottom: 2px solid white;
    margin-top: 50px;
    margin-left: 5px;
}
.perfil p {
    line-height: 2em;
    padding: 8px;
    text-align: justify;
}
dl {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}
dt:last-of-type,
dd:last-of-type {
    border-bottom: 1px solid white;
}
dt {
    font-weight: bolder;
}
dt, dd {
    line-height: 2.5em;
    border-top: 1px solid white;
    flex-basis: 45%;
    margin: 0;
}
#Imagen-destacada img {
    border-radius: 50%;
    border-bottom-left-radius: 15px;
    width: 300px;
}

/*-----------------Main-----------------*/
main {
    background-color: #E5E8E8;
}
main section h2{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.hero {
    background-color: #7FB3D5;
    box-shadow: 5px 5px 5px 5px #AAB7B8 insert;
    padding: 10% 0;
    text-align: center;
}
.hero h1 {
    letter-spacing: 15px;
}
.hero h2 {
    color: white;
    border-top: 2px solid white;
    text-transform: none;
    letter-spacing: 15px;
}
.about-me {
    background-color: #AAB7B8;
    padding: 0 0 10px 0;
}
.about-me h2 {
    background-color: #E5E8E8;
    border-bottom: 2px solid #364A6D;
}
.about-me h3 {
    margin: 0 20px;
}
article h3, article h4 {
    font-weight: bolder;
}
.experiencia h2 {
    border-bottom: 2px solid #364A6D;
}
article {
    padding: 0px 0;
}

/*-----------------Iconos-----------------*/

.fa-brands::before {
    line-height: 2em;
    font-size: 40px;
    }
.fa-brands:hover {
    transform: scale(1.2);
}    
.fa-solid::before {
    line-height: 2em;
    font-size: 40px;
}
.fa-solid:hover {
    transform: scale(1.2);
}
#wa,
#fa,
#em,
#me  {
    padding: 30px;
    font-size: 28px;
}